<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets async="true">
		<target name="file" xsi:type="File" fileName="${basedir}/log.txt"
				archiveEvery="Day"
				archiveFileName="${basedir}\ArchiveLogs\log\log_{#}.txt"
				archiveNumbering="Date"
				archiveDateFormat="dd.MM.yyyy"
				maxArchiveFiles="30"
				keepFileOpen="false"
				encoding="utf-8" />

		<target name="ownFile-web" xsi:type="File" fileName="${basedir}/log-web.txt"
				archiveEvery="Day"
				archiveFileName="${basedir}\ArchiveLogs\log-web\log-web_{#}.txt"
				archiveNumbering="Date"
				archiveDateFormat="dd.MM.yyyy"
				maxArchiveFiles="30"
				keepFileOpen="false"
				encoding="utf-8"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />

		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

		<!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
	</rules>

</nlog>
