.logoImage {
  margin: 30px 0px 0px 0px;
}

.ant-layout-content {
  .login-form-wrapper {
    .ant-card-body {
      border: none !important;
      padding: 5px !important;
      margin-top: -25px !important;
      &:hover {
        box-shadow: none ;
        cursor: auto;
      }
    }

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}