.ant-space.ant-space-horizontal.ant-space-align-center {
    gap: 20px !important
}

.btn {
    background: none !important; 
    border: none !important;
    outline:  none !important;
    box-shadow: none !important;
    &::after, ::before {
        content: none;
    }
}

.ant-page-header {
    border-bottom: 1px solid #fff !important;
}